<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzi.balance.base.mapper.impl.SystemMapper">
    <sql id="all_columns">
        *
    </sql>
    <sql id = "tableName">
        t_system
    </sql>
    <select id="selectAll" resultType="com.youzi.balance.base.po.SystemPo" >
        <!-- 具体的sql -->
        SELECT <include refid="all_columns"/> FROM
        <include refid="tableName"/>

    </select>

    <select id="findById" resultType="com.youzi.balance.base.po.SystemPo">
        select * from <include refid="tableName"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.youzi.balance.base.po.SystemPo">
        insert into <include refid="tableName" />
        (
        name,
        dbName,
        dbHost,
        dbUserName,
        dbPassword
        )
        VALUES
        (
        #{name},
        #{dbName},
        #{dbHost},
        #{dbUserName},
        #{dbPassword}
        )
    </insert>

    <update id="update" parameterType="com.youzi.balance.base.po.SystemPo">
        update  <include refid="tableName" />
        <set>
            <if test=" name != null and name != ''">
               name = #{name},
            </if>
            <if test=" dbName != null and dbName != ''">
                dbName = #{dbName},
            </if>
            <if test=" dbHost != null and dbHost != ''">
                dbHost = #{dbHost},
            </if>
            <if test=" dbUserName != null and dbUserName != ''">
                dbUserName = #{dbUserName},
            </if>
            <if test=" dbPassword != null and dbPassword != ''">
                dbPassword = #{dbPassword},
            </if>
            WHERE  id = #{id}
        </set>
    </update>

</mapper>